{% if is_paginator %}

  <nav aria-label="Search results pages">
    <ul class="pagination pagination-lg" data-page-total="{{ page_end }}">
      {% for n in items.paginator.page_range  %}
      {% if items.number == n %}
          <li class="page-item active">
        <a class="page-link" href="?page={{ n }}&{{ parameters }}">{{ n }} </a>
      </li>
      {% elif  n > items.number|add:-3 and n < items.number|add:3 %}
        <li class="page-item"><a class="page-link link" href="?page={{ n }}&{{ parameters }}">{{ n }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-item {% if not next_url or items.number|add:2 == page_end %}disabled{% endif %}">
        <a class="page-link link" href="?page={{ page_end }}&{{ parameters }}">({{ page_end }})</a>
      </li>
    </ul>
  </nav>
{% endif %}