{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}

<h1>Регистрация</h1>
<form method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}

         <div class="mb-3">
             <label class="form-label">{{ field.label }}</label>
             <div class="mb-3">
                 {{ field }}
                 {% if field.errors %}<span>{{ field.errors }}</span>{% endif %}
             </div>
         </div>

    {% endfor %}
    <button class="btn btn-primary" type="submit">Создать аккаунт</button>
</form>

{% endblock %}